ul {
	margin: 0;
}

/* img 3d view */
.image-sec
	.elementor-column-gap-default
	> .elementor-column
	> .elementor-element-populated {
	padding: 0;
}

/* image */
.modal-image-wrap {
	position: relative;
	width: 100%;
	height: 70%;
}

.modal-image-switch {
	display: block;
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 92% !important;
	/* margin-top: 3rem; */
	opacity: 0;
	-o-object-fit: fill;
	object-fit: fill;
	-o-object-position: center;
	object-position: center;
	cursor: grab;
}

.image-active {
	opacity: 1;
}

/* switcher */
.modal-switcher-wrap {
	position: relative;
	width: 100%;
	height: 30%;
}

.modal-switcher {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 17%;
}

.modal-index {
	color: #8d8d8d;
	font-weight: 600;
}

.product-sort {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 1.4em;
	font-weight: 600;
	color: #686868;
}

.arrow-wrap .fas {
	font-size: 1.5em;
	margin-left: 10px;
	color: #000;
	opacity: 0.35;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
}

.arrow-wrap .fas:hover {
	opacity: 1;
}

.helper-bar-wrap {
	display: flex;
	width: 65%;
}

.helper-bar {
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #8d8d8d;
}

.helper-bar.active {
	background-color: #21ade5;
}
