/* https://d25unujvh7ui3r.cloudfront.net/css/program.css */
.program-wrap {
	margin-top: 120px;
}

.styled-table {
	font-size: 3rem;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	background-color: #009fe8;
	color: #ffffff;
	margin: auto;
	text-align: center;
}

.styled-tr {
	padding: 10px 20px;
	margin: 20px;
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

p {
	line-height: 120%;
}

/* The line */
.cbp_tmtimeline:before {
	content: "";
	position: absolute;
	top: 20px;
	bottom: 0;
	width: 4px;
	background: #fff;
	left: 19.9%;
	margin-top: 20px;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.timezone,
.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
	margin: 0;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #009fe8;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	position: relative;
	top: 2rem;
	font-size: 1.2em;
	font-weight: 600;
	color: #000;
}

/* card margin */
.cbp_tmtimeline > li .cbp_tmlabel {
	border-left: 4px solid #009fe8;
	margin: 0 0 20px 25%;
	background: #fff;
	color: #000;
	padding: 1.2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.2;

	position: relative;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #fff;
	border-left: 4px solid #009fe8;
}

.cbp_tmtimeline > li.cbp_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0.4);
}

.cbp_tmtimeline > li.cbp_tmlabel p {
	margin-top: 0px;
	padding: 0 0 30px 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #009fe8;
	border-width: 20px;
	top: 16px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #009fe8;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 30px;
	height: 30px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #009fe8;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #fff;
	text-align: center;
	left: 20%;
	top: 20px;
	margin: 0 0 0 -25px;
}
/* Download button */
.download-btn {
	position: relative;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px 0;
	margin: 10px 0 30px 0;

	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 700;
	color: white;

	background-color: #21ade5;
	border: 3px solid white;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #00000024;

	cursor: pointer;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1em;
	}
}

@media screen and (max-width: 768px) {
	.cbp_tmicon {
		display: none;
	}

	.cbp_tmlabel::after {
		display: none;
	}

	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.timezone,
	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
		display: inline-block;
	}

	.timezone {
		padding-left: 10px;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 0 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #009fe8;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left: 4px solid #009fe8;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}
