.animated-arrow-wrap {
	display: flex;
	flex-direction: column;
	position: absolute;
}
.animated-arrow-wrap.center {
}
.animated-arrow-wrap.left {
}
.animated-arrow-wrap.right {
}

.fa-chevron-up {
	color: #013c82;
}

.animated-arrow-wrap.center .fa-chevron-up {
	font-size: 50px;
	margin: -15px 0;
	transform: rotateX(45deg);
}

.animated-arrow-wrap.left .fa-chevron-up {
	font-size: 50px;
	margin: -15px 0;
}

.animated-arrow-wrap.right .fa-chevron-up {
	font-size: 50px;
	margin: -15px 0;
}

.arrow-1 {
	position: relative;
	animation: arrowAnimation1 2s ease-in-out 0.5s infinite;
	opacity: 0.2;
}

.arrow-2 {
	position: relative;

	opacity: 0.5;
	animation: arrowAnimation2 2s ease-in-out 0.5s infinite;
}

.arrow-3 {
	position: relative;
	opacity: 1;
	animation: arrowAnimation3 2s ease-in-out 0.5s infinite;
}

.animated-arrow-wrap.left .arrow-1 {
	transform: rotate3D(1, 0, 1, 45deg);
}

.animated-arrow-wrap.left .arrow-2 {
	transform: rotate3D(1, 0, 1, 45deg) translateX(-27%);
}

.animated-arrow-wrap.left .arrow-3 {
	transform: rotate3D(1, 0, 1, 45deg) translateX(-55%);
}

.animated-arrow-wrap.right .arrow-1 {
	transform: rotate3D(1, 0, -1, 45deg);
}

.animated-arrow-wrap.right .arrow-2 {
	transform: rotate3D(1, 0, -1, 45deg) translateX(27%);
}

.animated-arrow-wrap.right .arrow-3 {
	transform: rotate3D(1, 0, -1, 45deg) translateX(55%);
}

@keyframes arrowAnimation1 {
	0% {
		opacity: 0.2;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.2;
	}
}

@keyframes arrowAnimation2 {
	0% {
		opacity: 0.5;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes arrowAnimation3 {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}
