.image-sec
	.elementor-column-gap-default
	> .elementor-column
	> .elementor-element-populated {
	padding: 0;
	background-color: white;
}

.exhibit-wrap {
	position: relative;
	height: 100vh;
}

/* image */
.exhibit-image-wrap {
	display: inline-block;
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 4;
}
.exhibit-image-wrap .hall-image-switch {
	/* display: block; */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* margin-top: 3rem; */
	opacity: 0;
	-o-object-fit: fill;
	object-fit: fill;
	/* min-width: 1106px;
min-height: 752px; */
}
.exhibit-image-wrap .image-active {
	opacity: 1;
}

/* arrow */
.arrows-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0px 6%;
	top: 50%;
	z-index: 5;
	opacity: 1;
	transition: opacity 0.3s ease;
}

button {
	display: inline-block;
	border-style: none;
	padding: 0px;
	background-color: transparent;
}

.arrow-left-wrap,
.arrow-right-wrap {
	cursor: pointer;
}

.fa-chevron-left {
	font-size: 5em;
	opacity: 1;
	color: #3d3d3d;
}

.fa-chevron-left:hover {
	transition: opacity 0.3s;
	opacity: 0.45;
}

/**********/
/* slider */
/**********/
.slider-wrap {
	width: 500px;
	display: inline-block;
	position: relative;
	top: 93%;
	left: 94%;
	transform: translate(-100%, -200%);
	z-index: 5;
}

/* text */
.slider-text {
	display: flex;
	justify-content: space-between;
	margin: 0 90px 3px 53px;
}

.slider-text span {
	font-weight: 700;
	color: #8a8a8a;
}

/* helper */
.helper-wrap {
	width: 471px;
	margin: 0 auto;
	justify-content: space-between;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.helper-btwn {
	display: inline-block;
	margin: 2px -4px;
	width: 71px;
	height: 2px;
	background-color: #d8d8d8;
}

.helper-wrap-1,
.helper-wrap-2,
.helper-wrap-3,
.helper-wrap-4 {
	/* display: flex;
align-items: center; */
	width: 58px;
	height: 20px;
	cursor: pointer;
}

.helper-1,
.helper-2,
.helper-3,
.helper-4 {
	width: 100%;
	height: 6px;
	background-color: #acadac;
	border-radius: 3px;
}

.helper-wrap-1:hover .helper-1,
.helper-wrap-2:hover .helper-2,
.helper-wrap-3:hover .helper-3,
.helper-wrap-4:hover .helper-4 {
	transition: background-color 0.5s;
	background-color: #58c5ff;
	border-radius: 3px;
}

.helper-wrap-1--active,
.helper-wrap-2--active,
.helper-wrap-3--active,
.helper-wrap-4--active {
	height: 2px;
	background-color: white;
}

.helper-1--active,
.helper-2--active,
.helper-3--active,
.helper-4--active {
	background-color: #58c5ff;
	width: 100%;
}

/*  */
.arrows-wrap.inactive,
.helper-wrap.inactive {
	opacity: 0.3;
}

.arrows-wrap.inactive .arrow-left-wrap,
.arrows-wrap.inactive .arrow-right-wrap,
.helper-wrap.inactive .helper-wrap-1,
.helper-wrap.inactive .helper-wrap-2,
.helper-wrap.inactive .helper-wrap-3,
.helper-wrap.inactive .helper-wrap-4 {
	cursor: default;
}

.map-wrap {
	transition-property: left, top, width, height;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	transition-timing-function: ease, ease, ease, ease;
}
